<!DOCTYPE html>

<head>
    <%- include('partials/head'); %>
</head>

<body>
    <header>
        <%- include('partials/header'); %>
    </header>

    <main>
        <div>
            <center>
                <h1>
                    Mes produits
                </h1>
                <h2 style="color: red; font-weight: bold">
                    Quality Superieur !!!
                </h2>
                <p>
                    Welcome to les futurs DevOps
                </p>
                <div border="1" style="border: 1px;">
                    <% if (locals.articles){ %>
                    <% articles.forEach(function(article) { %>
                    <p><%= article.nom %> - <%= article.prix %>€</p>
                    <button><a href="/modif_article/<%= article.id %>">Modif</a></button>
                    <% }) %>
                    <% } %>
                </div>
            </center>
        </div>
    </main>
    <footer>

    </footer>

</body>

</html>